<!-- /public/ng-app/components/allbooks/allbooksView.html -->

<!-- ANGULAR DIRECTIVE HEADER -->
<div header2></div>


<!-- Jumbotron message -->
<div class="jumbotron text-center">
  <h1>{{ section }}</h1>
  <p>{{ tagline }}</p>
</div>
<br>

<!-- Show all books -->
<div class="row">
<div ng-repeat="book in allbooks" ng-if="allbooks.length > 0" 
     class="book-collection">

  <div class="book">
    <div ng-if="book.username !== username" class="bc-trade-btn">
    <div ng-click="trade()"
    				class="btn" 
    				ng-disabled="disabled">
      <i class="fa fa-exchange fa-lg"></i>
    </div>
    </div>

    <img ng-src="{{ book.thumbnail }}" alt="{{ book.bookname }}" 
         class="book-img">
  </div>

</div>
</div>
