<!-- /public/views/home.html -->

<!-- ANGULAR DIRECTIVE HEADER -->
<div header2></div>


<!-- Jumbotron message -->
<div class="jumbotron text-center">
  <h1>{{ section }}</h1>
  <p>{{ tagline }}</p>
</div>

<!-- Show all books -->
<br>
<div class="row">
<div ng-repeat="book in allbooks" ng-if="allbooks.length > 0" class="book-collection">
  <div class="book">

<!-- TODO: need to show a window pane to select books offered for trade -->

    <div class="bc-trade-btn">
      <div ng-click="trade()"
      				class="btn" 
      				ng-disabled="disabled">
        <i class="fa fa-exchange fa-lg"></i>
      </div>
    </div>


    </form>

    <img ng-src="{{ book.thumbnail }}" alt="{{ book.bookname }}" class="book-img">
    <!--
  	<p>{{ book.bookname }}</p>
  	<p>{{ book.username }}</p>
    -->

  </div>
</div>
</div>
